<!DOCTYPE html>
<html>
<head>
  <title>OpenBadges</title>
  <%= stylesheet_link_tag    "open_badges/application", :media => "all" %>
  <%= javascript_include_tag "open_badges/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
